/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Archives */

body.page-template-default {
	width: 90%;
	margin: .5rem;
	a {
		text-decoration: none;
	}
	ul {
		padding: 0px;
		margin: 0px;
		text-decoration: none;
	}
	li {
		list-style: none;
		display: inline-flex;
		padding: .25rem;
	}
	.post-archives {
		justify-content: flex-start;
	}
	.site-footer {
		margin-top: 4rem;
		a {
			border-right: 1px white;
		}
	}
}

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}